*{
    margin-top: 10px;
}
    div{
    border-radius: 6px;
    background-color: rgb(222, 208, 235);
    padding: 20px;
    padding-top:0px ;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 300px;
    
}
input {
    width: 330px;
    height: 30px;
    border-radius:5px;

} 
img{
    width: 20%;
    height: 20%;
}
